@model SQEstimationAndBillingSystem.Models.MaterialConsumptionModel
@{
    ViewBag.Title = "Add/Edit Measurement Sheet";
}

<section class="content-header">
    <h3>
        Add/Edit Measurement Sheet
    </h3>
</section>


